.title{
    margin-top: 10% ;
}

.title__named{
    margin-top: 55px;
    font-weight: 500;
font-size: calc( (100vw - 480px)/(1920 - 480) * (20 - 16) + 16px);
line-height: calc( (100vw - 480px)/(1920 - 480) * (20 - 16) + 16px);
}

.regform__name{

    margin-top: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 9px;
    color: #999999;
    margin-bottom: 8px;
}

.form__error{
    font-weight: 400;
font-size: 12px;
line-height: 13px;
/* identical to box height, or 100% */


color: #FF2F2F;
}

.regform__input{
    border: none;
    width: 280px;
    outline: none;
    color: black;
    background: white;
    border-bottom: 1px solid #9CA9C8;
    padding-bottom: 7px;
    font-weight: 500;
font-size: 13px;
line-height: 13px;
}
.regform__input:focus {
    border-bottom: 1px solid #3369F3;
  }

.reg__btn-signin{
    display:block;
    margin: 0 auto;
    height: 26px;
    width: 250px;
    margin-top: 145px;
}
.regform{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    margin-top: 35px;
    border-radius: 8px;
}
.ent_sign{
    font-weight: 500;
font-size: 13px;
line-height: 13px;
}
.reg__btn-login{
    text-align: center;
     margin-top: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ent__sign{
    font-weight: 500;
font-size: 11px;
line-height: 11px;

}